html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.AppSidebar {
  float: left;
  width: 200px;
}

.AppSidebar .nav-link {
  color: #343a40;
}

.oef-header .profile-picture {
  background: orange !important;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 40px;
  color: white !important;
  text-align: center;
  font-weight: bold;
}

.authenticated main {
  margin-left: 220px;
}

.AppSidebar .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #343a40;
}

